.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
!/ports/out/
target/
build/
bin/
.settings/
*.log
.doNotDelete
nohup.out
devops-tools/*.json
.vscode/
.terraform/
*-dep.yaml
# TEMPORARY SOLUTION! FIXME!
terraform.tfstate*
app-ingress.yaml
/k8s/gke/
/k8s/dev/
/k8s/out/

/postgis/data
//command/ftp_data
//command/minio_data

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
/lib

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.gradle/
build/
*.iml
.idea/
